* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.text {
    color: gray;
    font-size: 20px;
}

.natija {
    width: 550px;
    height: 70px;
    background-color: rgb(53, 53, 53);
}

.app {
    width: 550px;
    height: 500px;
    background-color: rgb(53, 53, 53);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;

}

.texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
}

.texts p {
    color: white;
    font-size: 30px;
}

.texts span {
    font-size: 35px;
    color: green;
}

.btn5,
.btn10,
.btn15,
.btn20 {
    width: 120px;
    height: 50px;
    font-size: 30px;
    border-radius: 4px;
    border: none;
    background-color: blueviolet;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn5:hover,
.btn10:hover,
.btn15:hover,
.btn20:hover {
    transform: scale(0.9);
}

.btn5:active,
.btn10:active,
.btn15:active,
.btn20:active {
    transform: scale(1.1);
}

.checkboxs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    right: 50px;
}

.foo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foo1 {
    display: flex;
    gap: 20px;

}

.foo2 {
    display: flex;
    gap: 20px;

}

.foo3 {
    display: flex;
    gap: 20px;


}

.foo4 {
    display: flex;
    gap: 20px;
}

input {
    width: 30px;
    height: 30px;
}

.tt {
    color: white;
    font-size: 20px;
}

.generate button {
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: green;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.generate button:hover {
    transform: scale(0.9);
}

.generate button:active {
    transform: scale(1.1);
}

.natija {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#inputText {
    height: 100%;
    width: 100%;
    font-size: 40px;
    color: white;
    background-color:  rgb(53, 53, 53);;
    display: flex;
    align-items: center;
    justify-content: center;
}